<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="tenantId" value="5df9f922-XXXX-XXXX-8093-49d2bb3c1f78" />
    <add key="clientId" value="e4739148-XXXX-XXXX-b960-cbeff7143c38" />
    <add key="userName" value="jpgg@XXXXXXXXX.onmicrosoft.com" />
    <add key="password" value="XXXXXX" />
    <add key="SubscriptionId" value="bcb59800-XXXX-XXXX-bc58-26248a25bb5a" />
  </appSettings>
</configuration>